0. Importe as bibliotecas necessárias

In [58]:
import pandas as pd
import numpy as np

1. Importe os dados sobre os pinguins, que se encontra no link abaixo.

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv

In [59]:
p = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')

print(p, type(p))

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns] <class 'pandas.core.frame.DataFrame'>

2. Mude os elementos da coluna `sex` ("MALE" e "FEMALE") para português ("MASCULINO" e "FEMININO")

In [60]:
# Alterar os elementos da coluna 'sex': 'male' por 'masculino' e 'female' por 'feminino'
p['sex'] = p['sex'].replace(['MALE', 'FEMALE'], ['MASCULINO', 'FEMININO'])

print(p)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g        sex
0         3750.0  MASCULINO
1         3800.0   FEMININO
2         3250.0   FEMININO
3            NaN        NaN
4         3450.0   FEMININO
..           ...        ...
339          NaN        NaN
340       4850.0   FEMININO
341       5750.0  MASCULINO
342       5200.0   FEMININO
343       5400.0  MASCULINO

[344 rows x 7 columns]

3. Crie uma coluna com o quadrado do peso chamada `quadpeso`

In [61]:
# Criar coluna 'quadpeso' com o quadrado do peso
p['quadpeso'] = p['body_mass_g'] ** 2

print(p)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g        sex    quadpeso
0         3750.0  MASCULINO  14062500.0
1         3800.0   FEMININO  14440000.0
2         3250.0   FEMININO  10562500.0
3            NaN        NaN         NaN
4         3450.0   FEMININO  11902500.0
..           ...        ...         ...
339          NaN        NaN         NaN
340       4850.0   FEMININO  23522500.0
341       5750.0  MASCULINO  33062500.0
342       5200.0   FEMININO  27040000.0
343       5400.0  MASCULINO  29160000.0

[344 rows x 8 columns]

4. Crie uma coluna chamada `acima_da_media`, que contenha valores booleanos, `True` caso o pinguin esteja com o peso acima da média e `False` caso o pinguin esteja com o peso na média ou abaixo da média.

In [62]:
# Criar coluna 'acima_da_media' com valores booleanos: True quando o pinguim está acima do peso da média e False para o restante
p['acima_da_media'] = p['body_mass_g'] > p['body_mass_g'].mean()

print(p)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g        sex    quadpeso  acima_da_media
0         3750.0  MASCULINO  14062500.0           False
1         3800.0   FEMININO  14440000.0           False
2         3250.0   FEMININO  10562500.0           False
3            NaN        NaN         NaN           False
4         3450.0   FEMININO  11902500.0           False
..           ...        ...         ...             ...
339          NaN        NaN         NaN           False
340       4850.0   FEMININO  23522500.0            True
341       5750.0  MASCULINO  33062500.0            True
342       5200.0   FEMININO  27040000.0            True
343       5400.0  MASCULINO  29160000.0            True

[344 rows x 9 columns]

5. Calcule quantos pinguins, por espécie, estão com o peso acima da **média**

In [63]:
# Ao utilizar a coluna 'acima_da_media' basta somar True (1) e False (0) para saber a qtd de pinguins com True (acima da média)

print(p.groupby('species')['acima_da_media'].sum())

species
Adelie        25
Chinstrap      7
Gentoo       117
Name: acima_da_media, dtype: int64

6. Calcule a média e o desvio-padrão dos pinguins, por sexo e por ilha. Depois, jogue fora as linhas que são NaN

In [64]:
# Média e desvio-padrão por sexo e ilha
print(p.groupby(['sex', 'island'])['body_mass_g'].agg(['mean', 'std']))

# Excluindo linhas que são NaN
print(p.dropna())

                            mean         std
sex       island
FEMININO  Biscoe     4319.375000  659.748885
          Dream      3446.311475  269.522574
          Torgersen  3395.833333  259.144356
MASCULINO Biscoe     5104.518072  714.197748
          Dream      3987.096774  349.523737
          Torgersen  4034.782609  372.471714
    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
4    Adelie  Torgersen            36.7           19.3              193.0
5    Adelie  Torgersen            39.3           20.6              190.0
..      ...        ...             ...            ...                ...
338  Gentoo     Biscoe            47.2           13.7              214.0
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g        sex    quadpeso  acima_da_media
0         3750.0  MASCULINO  14062500.0           False
1         3800.0   FEMININO  14440000.0           False
2         3250.0   FEMININO  10562500.0           False
4         3450.0   FEMININO  11902500.0           False
5         3650.0  MASCULINO  13322500.0           False
..           ...        ...         ...             ...
338       4925.0   FEMININO  24255625.0            True
340       4850.0   FEMININO  23522500.0            True
341       5750.0  MASCULINO  33062500.0            True
342       5200.0   FEMININO  27040000.0            True
343       5400.0  MASCULINO  29160000.0            True

[333 rows x 9 columns]

7. Encontre os pinguins que estão acima de dois desvio-padrão do peso médio.

obs: você precisará filtrar os pinguins que estejam acima de `2 * desvio_padrão + peso_médio`

In [65]:
# Filtrando os pinguins acima de 2 * desvio-padrão * peso_médio
print(p[p['body_mass_g'] > 2 * p['body_mass_g'].std() + p['body_mass_g'].mean()])

    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
233  Gentoo  Biscoe            48.4           14.6              213.0
235  Gentoo  Biscoe            49.3           15.7              217.0
237  Gentoo  Biscoe            49.2           15.2              221.0
253  Gentoo  Biscoe            59.6           17.0              230.0
297  Gentoo  Biscoe            51.1           16.3              220.0
299  Gentoo  Biscoe            45.2           16.4              223.0
331  Gentoo  Biscoe            49.8           15.9              229.0
335  Gentoo  Biscoe            55.1           16.0              230.0
337  Gentoo  Biscoe            48.8           16.2              222.0

     body_mass_g        sex    quadpeso  acima_da_media
233       5850.0  MASCULINO  34222500.0            True
235       5850.0  MASCULINO  34222500.0            True
237       6300.0  MASCULINO  39690000.0            True
253       6050.0  MASCULINO  36602500.0            True
297       6000.0  MASCULINO  36000000.0            True
299       5950.0  MASCULINO  35402500.0            True
331       5950.0  MASCULINO  35402500.0            True
335       5850.0  MASCULINO  34222500.0            True
337       6000.0  MASCULINO  36000000.0            True

8. Para cada grupo de ilha e espécie, encontre o tamanho de bico mediano e a quantidade de pinguins

In [66]:
# Encontrar tamanho do bico mediano e qtd de pinguins para cada grupo de ilha e espécie
print(p.groupby(['island', 'species'])['bill_length_mm'].agg(['median', 'count']))

                     median  count
island    species
Biscoe    Adelie      38.70     44
          Gentoo      47.30    123
Dream     Adelie      38.55     56
          Chinstrap   49.55     68
Torgersen Adelie      38.90     51

9. Importe os CSVs abaixo para variáveis:

`flights.csv`, `airports.csv`, `planes.csv` e `airlines`

In [67]:
df_flights = pd.read_csv('flights.csv')
df_airports = pd.read_csv('airports.csv')
df_planes = pd.read_csv('planes.csv')
df_airlines = pd.read_csv('airlines.csv')

10. Faça um `left_join` de flights e planes. Depois, faça a média de atraso (`arr_delay`) por `manufacturer`. Tente arranjar os dados para descobrirmos quais são os que mais atrasam *na média*

In [68]:
# Left_join de flights e planes
left_join = pd.merge(df_flights, df_planes, how = 'left')

# Média de atraso (arr_delay) por manufacturer
print(left_join.groupby('manufacturer')['arr_delay'].mean())

manufacturer
AIRBUS               0.123563
AIRBUS INDUSTRIE    20.750000
BOEING               1.531208
BOMBARDIER INC      13.584352
EMBRAER              6.169118
Name: arr_delay, dtype: float64

11. Com os dados juntados anteriormente, junte também o dataframe de `airlines`, de acordo com as colunas em comum. Depois, descubra a quantidade de linhas por `origin` e `airlines`

In [69]:
# Juntar left_join com o dataframe de airlines de acordo com a coluna em comum ('carrier')
left_join_and_airlines = pd.merge(left_join, df_airlines, on = 'carrier', how = 'left')

# Qtd de linhas (coluna 'flight') por origin e airlines (coluna 'name')
print(left_join_and_airlines.groupby(['origin', 'name'])['flight'].count())

origin  name
EWR     Alaska Airlines Inc.             714
        American Airlines Inc.          3487
        Delta Air Lines Inc.            4342
        Endeavor Air Inc.               1268
        Envoy Air                       2276
        ExpressJet Airlines Inc.       43939
        JetBlue Airways                 6557
        SkyWest Airlines Inc.              6
        Southwest Airlines Co.          6188
        US Airways Inc.                 4405
        United Air Lines Inc.          46087
        Virgin America                  1566
JFK     American Airlines Inc.         13783
        Delta Air Lines Inc.           20701
        Endeavor Air Inc.              14651
        Envoy Air                       7193
        ExpressJet Airlines Inc.        1408
        Hawaiian Airlines Inc.           342
        JetBlue Airways                42076
        US Airways Inc.                 2995
        United Air Lines Inc.           4534
        Virgin America                  3596
LGA     AirTran Airways Corporation     3260
        American Airlines Inc.         15459
        Delta Air Lines Inc.           23067
        Endeavor Air Inc.               2541
        Envoy Air                      16928
        ExpressJet Airlines Inc.        8826
        Frontier Airlines Inc.           685
        JetBlue Airways                 6002
        Mesa Airlines Inc.               601
        SkyWest Airlines Inc.             26
        Southwest Airlines Co.          6087
        US Airways Inc.                13136
        United Air Lines Inc.           8044
Name: flight, dtype: int64

12. Fique a vontade para brincar com os dados, qualquer dúvida fale com o seu tutor. Fique à vontade de levar sua tentativa de novos arranjos e dúvidas sobre os exercícios para a monitoria.

In [70]:
# Juntei left_join_and_airlines com a airports.csv a partir da coluna em comum 'name'
left_join_and_airlines_airports = pd.merge(left_join_and_airlines, df_airports, on = 'name', how = 'left')

# Verificar quantas cidades constam na coluna 'tzone'
print(left_join_and_airlines_airports.groupby('tzone')['tzone'].count())

Series([], Name: tzone, dtype: int64)